---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//friends da vinci font used for banner image
//St Eaves Smart Lig used for font throughout

@font-face {
    font-family: MrsEavesSmartLig;
    src: url(MrsEavesSmartLigRoman.ttf); 
}

@font-face {
    font-family: MrsEavesSmartLig;
    src: url(MrsEavesSmartLigItalic.ttf);
    font-style: italic; 
}

@font-face {
    font-family: MrsEavesSmartLig;
    src: url(MrsEavesSmartLigBold.ttf); 
    font-weight: bold;
}

// Our variables
$base-font-family: MrsEavesSmartLig, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

// page elements and CSS not related to layout of site or basic attributes are listed here

.vanish {
    display: none;
}

#song-bird-welcome {
    background-image: url(song-bird-welcome.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    width: 17.5em;
    height: 11.125em;
    margin: 1em auto 1.5em auto;
    border-radius: 50%;
}

#love-comes-down-text-container {
        width: 100%;
        margin: auto;
        height: 6em;
}

#love-comes-down-text {
    width: 42em;
    max-width: 42em;
    height: 3em;
    margin: 1.5em auto;
    @include media-query($on-palm){
        width: 15em;
    }
}

.love-comes-down-text-element {
    &:not(:first-child) {
        margin-right: 1em;
    }
    @include media-query($on-palm){
        margin-left: 0;
        margin-right: 0em;
        margin-bottom: 1.5em;
        float: left;
        &:not(:last-child) {
            clear: right;
        }

    }
}

#player {
  height: 0;
  width: 0;
}

#play-song {
  position: relative;
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
    background-repeat: no-repeat;
    background-image: url(play.jpg);
  cursor: pointer;
  display: block;
}

#portrait-container {
    width: 100%;
    height: 21.7em;
}

#portrait-wrapper {
    width: 38em;
    height: 21.7em;
    margin: auto;
}

#portrait {
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-position: left top;
    width: 17em;
    height: 17em;
    margin: 1em 1em 1em 1em;
    border-radius: 0.5em;	
}

	.author-picture{
		background-image: url(author.jpg);
	}

	.young-author-picture{
		background-image: url(young-author.jpg);
	}

	.artist-picture{
		background-image: url(artist.jpg);
	}

	.young-artist-picture{
		background-image: url(young-artist.jpg);
	}

#book-container {
    width: 100%;
    height: 36em;
}

#book-wrapper {
    width: 12em;
    height: 18em;
    margin: 2em auto;
}

#book {
    display: block;
    background-image: url(book.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    width: 12em;
    height: 18em;
    margin: auto;
    border-radius: 0.5em;   
}