/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background: url("./love-comes-down-general-background.jpg") center bottom/cover no-repeat fixed;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

.song-body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  width: 100%;
  height: 100%;
    color: $text-color;
    background: url(./love-comes-down-song-background.jpg) center bottom/cover no-repeat fixed;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;

    @include media-query($on-palm) {
    background: url(./love-comes-down-song-background-600px.jpg) center top no-repeat fixed;
    }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Buttons
 */
.nav-button {
    background-color: #0293bf;
    color: white;
    border: none;
    border-radius: 0.25em;
    font-family: $base-font-family;
    font-size: 1em;
    width: 8.625em;
    padding: 0.75em 2em;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    &:not(:last-child) {
    margin-right: 0.7em;
    }
    @include media-query($on-palm) {
        &:not(:last-child) {
        margin-right: 0em;
        }
    }
}

.nav-button-current{
    background-color: #006488;
}

.nav-button:hover {
    background-color: #004671;
    cursor: pointer;
}

.nav-button:active {
    background-color: #007488;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
    width: 8.625em;
    height: 49px;
    margin-right: 0.7em;
    z-index: 1;

    @include media-query($on-palm) {
        margin-right: 0em;
    }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    color: white;
    text-align: center;
    background-color: #00587a;
    width: 8.625em;
    overflow: auto;
    line-height: 2.625em;
    top: 48px;
}

/* removes bottom border radius from nav buttons */
.dropdown-remove-radius:hover {
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;

    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; 
}

/* adds bottom border radius to drop down nav link */
.dropdown-add-radius {
    -webkit-border-bottom-right-radius: 0.25em;
    -webkit-border-bottom-left-radius: 0.25em;

    -moz-border-radius-bottomright: 0.25em;
    -moz-border-radius-bottomleft: 0.25em;

    border-bottom-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em; 
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;

        &:visited {
        color: white;
    }
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #004969;
    text-decoration: none;
    }

/* Show the dropdown menu on hover */
.dropdown-menu:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-menu:hover .nav-button {
    background-color: #004671;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;

    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.song-button {
    position: relative;
    background-color: #629976;
    color: white;
    border: none;
    outline: 0;
    font-family: $base-font-family;
    font-size: 2em;
    padding: .9em 0em;
    border-radius: 0.25em;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    width: 10em;
    display: block;
    margin: 3em auto 0em auto;
    box-shadow: 0 0.3em #888;
}

.book-button {
    position: relative;
    background-color: #629976;
    color: white;
    border: none;
    outline: 0;
    font-size: 2em;
    text-align: center;
    padding: .9em 0em;
    border-radius: 0.25em;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    width: 8em;
    display: block;
    margin: 2em auto;
    box-shadow: 0 0.3em #888;

    &:hover {
        text-decoration: none;
        color: white;
    }
}

.song-button:hover {
    background-color: #366b48;
    border: none;
}

.song-button:active {
    background-color: #629976;
    border: none;
    outline: 0;
    text-decoration: none;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    box-shadow: 0 0.15em #555;
    transform: translateY(0.15em);
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

.expand-link-to-button {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
    background-image: url('transparent.gif');
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
/**    padding-right: $spacing-unit;
*    padding-left: $spacing-unit;
*/
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
/**        padding-right: $spacing-unit / 2;
*          padding-left: $spacing-unit / 2;
*/
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
